body {
  text-align: center;
  background-color: #f0f0f0;
  color: #333;
}

.top, .main, .bottom {
  padding: 20px;
  margin: 10px;
  border: 1px solid #ccc;
}

.top {
  background-color: #837b7b;
}

.main {
  background-color: #bb925c;
}

.bottom {
  background-color: #968e8e;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a.active {
  font-weight: bold;
  text-decoration: underline;
}